@media only screen and (max-width: 500px) {
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --backgroundColor: hsla(180, 25%, 25%, 0.8);
  }
  
  main {
    background: url('../img/numbers-5498036_1280.webp') center no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  
  /* header {
    background-color: var(--backgroundColor);
    text-align: center;
    width: 100vw;
    padding: 15px 0 0;
    color: #fff;
  } */
  
  .calculator {
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem 0;
    width: 50vw;
    background-color: var(--backgroundColor);
    border: 1px double;
    border-radius: 5%;
  }
  
  #resultPainel {
    display: flex;
    justify-content: end;
    padding: 1px 3px;
    margin: 6px 5px;
    height: 40px;
    font-size: 25px;
    background-color: whitesmoke;
    border: 1px double;
    border-radius: 10px;
  }
  
  table {
    display: flex;
    justify-content: center;
    margin: 1rem;
  }
  
  .buttons {
    font-size: 1.7rem;
    width: 10vw;
    height: 10vh;
    margin: 0.2rem;
    border: 1px solid;
    border-radius: 5px;
  }
  
  #btnDelete {
    width: 1.7rem;
  }

  .btnResult {
    width: 22.5vw;
    margin: 0.2rem;
    border: 1px solid;
    border-radius: 5px;
  }
}

